diff --git a/theme/index.hbs b/theme/index.hbs
index 98f3b88..a5ec90d 100644
--- a/theme/index.hbs
+++ b/theme/index.hbs
@@ -230,10 +230,16 @@
                 {{/next}}
             </nav>
 
         </div>
 
+        <a href="#body-container">
+            <div class="top-link">
+                <i class="fa fa-angle-up"></i>
+            </div>
+        </a>
+
         {{#if live_reload_endpoint}}
         <!-- Livereload script (if served using the cli tool) -->
         <script>
             const wsProtocol = location.protocol === 'https:' ? 'wss:' : 'ws:';
             const wsAddress = wsProtocol + "//" + location.host + "/" + "{{{live_reload_endpoint}}}";
